html {
    height: auto;
    width: 100%;
}

.container {
    padding: 0;
    margin: 0;
}

#pills {
    float: right;
}

.divCi {
    height: auto;
    width: 60%;
}

.carouselImg {
    height: 25%;
}